@import 'bootstrap';

body {
	background-image: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRfGZ6atKSNouSlCuw6JDwoDR3RtbxL4fGkGr7j1MeBETnZ8DTQwA');
	background-size: 100%;
	background-repeat:no-repeat;
	font-family: 'proxima_nova_rgbold', Helvetica, Arial;

}